<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>注册页面</title>
</head>
<body>
<form action="/registerSave" name="registerSaveFrom" accept-charset="utf-8" method="post">
    <label class="label-tips" for="u">账号:</label>
    <input type="text" id="u" name="userName" class="inputstyle"/>
    <div>
        <label class="lable-tips" for="password">密码:</label>
        <input type="password" id="password" name="password" class="inputstyle" />
    </div>
    <div>
        <label class="lable-tips" for="phone">电话:</label>
        <input type="phone" id="phone" name="phone" class="inputstyle" />
    </div>
    <input type="submit" name="注册" value="注册"/>
</form>
</body>
</html>